body {
    background-color: lightgray;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:  repeat(5, minmax(30px, auto));
    grid-template-areas: 
    "header header header header header"
}

header {
    align-items: center;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding: 0 10px;
}

header nav {
    display: none;
}

header nav a:nth-child(1) {
    font-size: 14pt;
}

header nav a {
    text-decoration: none;
}

.meu-hamburguer {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    width: 30px;
}

.traco {
    background-color: black;
    height: 3px;
    margin: 1.5px 0;
    width:  100%;

}

/* Media Query */
@media(min-width: 900px) {
    header nav {
        display: block;
    }
}

.menu-hamburguer {
    display: none;
}